.taskContainer__inputWrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 35px;

}

.completedTasksContainer {
    margin-top: 30px;
}

.activeTasksContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.task_Container__completeTaskButton__checkbox {
    appearance: none;
    width: 50px;
    height: 75px;
    margin-top: -80px;
}

.task_Container__buttonsWrapper {
    width: 80px;
    border-radius: 12px;
    background: #e7e7e7;
    box-shadow:  5px 5px 15px #c6c6c6, -5px -5px 10px #ffffff;
}

.taskContainer__checkIcon {
    width: 40px;
    margin-top: 12px;
    margin-left: 5px;
}

.task_Container__buttonsWrapper:active {
    border-radius: 12px;
    background: linear-gradient(145deg, #c481e5, #65ddea);
    box-shadow:  inset 0 0 1px #9e63c2, inset 0 0 4px #22867f;
}

.task {
    display: flex;
    height: 60px;
    gap: 20px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.taskHeaderWrapper {
    overflow-y: scroll;
    width:  375px;
    padding: 15px;
    border-radius: 12px;
    background: linear-gradient(145deg, #ffffff, #f8f8f8);
    box-shadow:  8px 8px 5px rgba(119, 167, 139, 0.32), -9px -9px 15px #e5e5e5;
}



