<aside class="sidebar">
    <div class="sidebar-workspace__header">
        <span class="sidebar-workspace__header-name">Workspace</span>
    </div>
    <div class="sidebar-chat__header">
        <span class="sidebar-chat__header-name">Chat</span>
        <div class="sidebar-chat__users">
            <div class="sidebar-chat__user-list">

            </div>
        </div>
    </div>
    <div class="sidebar-tasks__header">
        <span class="sidebar-tasks__header-name">Tasks</span>
        <div class="sidebar-tasks__tasks">
            <div class="sidebar-tasks-task-list">

            </div>
        </div>
    </div>
</aside>
